.hidden{
    display:none;
}

#background{
    background-color:aquamarine;
}

.center{
  margin: auto;
  width: 60%;
  padding: 40px;
}

#landingPg{
    margin: auto;
    width: 60%;
    padding: 40px;
}

.title{
    font-size:120px;
    padding:50px;
    text-decoration-line: underline;
}

.question{
    font-size: 40px;
    padding: 40px 70px;
    margin: auto;
}


.button{
    font-size: 30px;
    padding: 15px 30px;
    background-color: aqua;
}

.Qs{
    margin: auto;
    width: 60%;
    padding: 40px;
}